@import '../../../styles/settings.scss';

body {
  background-color: $color-background;
}

.root {
  .container {
    padding: 1rem;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .switcher {
      //margin: 0 auto;
      margin-left: 600px;
    }
    .header {
      padding-bottom: $base-size;
    }
  }
}
